.page2-container {
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.page2-title {
  margin: 0px;
  padding: 0px;
  font-size: 2rem;
  text-align: center;
}

.task-input {
  width: 100%;
  max-width: 400px;
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
  border: 0px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.task-list {
  max-height: 400px;
  overflow-y: auto;
  padding-left: 0;
  margin-top: 15px;
}

.task-list::-webkit-scrollbar {
  width: 6px;
}

.task-list::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 3px;
}

.task-item {
  margin-bottom: 15px;
  word-wrap: break-word;
}

.edit-input {
  margin-left: 10px;
  font-size: 16px;
  color: black;
  max-width: 60%;
}

.save-btn {
  margin-left: 5px;
}

.task-text {
  margin-left: 10px;
}

.task-text.completed {
  text-decoration: line-through;
}

.edit-btn {
  margin-left: 10px;
}

.task-timestamp {
  color: black;
  display: block;
  margin-left: 25px;
  font-size: 0.85rem;
}

.delete-btn {
  margin-left: 10px;
  color: red;
}

@media (max-width: 600px) {
  .page2-title {
    font-size: 1.5rem;
  }

  .task-input {
    max-width: 100%;
    font-size: 14px;
  }

  .edit-input {
    max-width: 100%;
    margin-top: 5px;
    display: block;
  }

  .save-btn,
  .edit-btn,
  .delete-btn {
    font-size: 14px;
    margin-top: 5px;
  }

  .task-text {
    display: block;
    margin-top: 5px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .task-input {
    max-width: 80%;
    font-size: 15px;
  }

  .page2-title {
    font-size: 1.8rem;
  }
}
